* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1:#0E185F;
    --color2:#111e37;
    --color3:#5b98df;
    --color4:#e3d2ed;
    --color5:#f8efed;

    --titulo1:'Bebas Neue', cursive;
    --contenido:'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: white;
}



.nav-bar {
    background-color: var(--color1);
    width: 100%;
    text-align: center;

}


.nav-bar ul {
    list-style: none;
    padding: 1rem;
}

.nav-bar ul li {
    display: inline-block;
    margin: 0 1rem ;
}

.nav-bar a {
    color: white;
    /* margin: 0 3rem; */
    text-decoration: none;
    /* font-weight: bold; */
    /* height: 1rem; */
    font-family: var(--contenido);
}


.nav-bar a:hover {
    color: var(--color3);
}

.nav-bar li {
    font-size: 1rem;

    cursor: pointer;

    /* TRANSICIÓN */

    transition: all ease-in-out 250ms;

}

.nav-bar {
    position: sticky;
    top: 0;
}

.hide {
    font-size: 22px;
    padding: 16px;
    background-color: var(--color2);
    color: white;
    cursor: pointer;
    display: none;
    font-family:var(--contenido);
}

/* SECTION TODOS */

section {
    width: 90%;
    display: block;
    margin: 0 auto;
    /* background-color: var(--color5); */
}

/* SECTION 1 */
#sobre_mi, #proyectos , #videos, #estudios{
    padding: 40px;
}

#sobre_mi {
    background-color: var(--color2);
}

#proyectos {
    background-color: white;
}

.section-1 img {
    width: 10rem;
    border-radius: 1rem;
    display: block;
    margin: auto;
}

.section-1 h1 {
    margin: 1rem 0; 
    text-align: center;
    font-family: var(--contenido);
    color: var(--color5);
    font-size: 2.5rem;
}

.section-1 hr {
    width: 20%;
    display: block;
    margin: 1rem auto;
    border: 3px solid var(--color5);
    background-color: var(--color5);
    border-radius: 1rem;
}

.section-1 p {
    text-align: justify;
    font-family: var(--contenido);
    font-size: 1.1rem;
    color: var(--color5);

}
/* SECTION 2  */

.section-2 h2 {
    margin: 1rem 0; 
    text-align: center;
    font-size: 3rem;
    font-family: var(--contenido);
    color: var(--color1);
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1em;
}

.contenedor-grid img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px rgb(161, 161, 161);
}

/* SECTION 3 */

#estudios {
    background-color: var(--color2);
}

.section-4 h2{
    margin: 1rem 0; 
    text-align: center;
    font-size: 3rem;
    font-family: var(--contenido);
    color: white;
}
.section-4 ul {
    margin: 0 4rem;
}
.section-4 ul>li {
    text-align: justify;
    font-family: var(--contenido);
    font-size: 1.1rem;
    color: var(--color5);
}

.section-4 ul>li>a {
    text-decoration: none;
    color: var(--color3);
}

.ver-cv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 59, 177);
    width: auto;
    height: 2rem;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.ver-cv img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    background-color: transparent;
}

.ver-cv p {
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.ver-cv:hover {
    background-color: #170b4e;
}
.videos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.videos iframe {
    width: 560px;
    height: 315px;
}
#contactos {
    padding: 0;
    background-color: var(--color2);
}

.section-3 h2 {
    margin: 1rem 0; 
    text-align: center;
    font-size: 3rem;
    font-family: var(--contenido);
    color: var(--color1);
}


@media (max-width: 768px) {

    .nav-bar{
        font-size: 1rem;
    }

    .hide {
        font-size: 18px;
    }

    /* BARRA DE NAVEGACIÓN */

    .nav-bar {
        position: sticky;
        top: 0;
    }

    .nav-bar ul li {
        width: 100%;
        padding:  16px;
        text-align: left;
        
    }

    .nav-bar ul {
        display: none;

    }

    .hide {
        display: block;
    }

    .nav-bar ul {
        padding: 0rem;
    }
    

    .nav-bar>li {
        display: none;
    }

    
    .contenedor-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: .5em;
    }
    
    .section-1 hr {
        width: 50%;
    } 
    .section-4 ul {
        margin: 0 1rem;
    }
    .videos {
        display: block;
        margin: 0 auto;
    }
    .videos iframe {
        width: 100%;
        height: auto;
    }
}